*{
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Rubik Doodle Shadow', system-ui; */
}

.main{
    min-height: 70vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.672),rgba(0, 0, 0, 0.661)),url(Contact\ Us.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

nav{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}

.navlinks{
    flex: 1;   
    /* it will occupy all space in the row */
    text-align: right;
}

.navlinks ul li{
    list-style: none;
    display: inline-block;
    position: relative;
    margin-top: -30px;
    margin-right: 20px;
}

.navlinks ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.navlinks ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: brown;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.navlinks ul li:hover::after{
    width: 100%;

}


.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 18px;
    color: white;
}

.hero-btn{
    text-decoration: none;
    padding: 10px 20px;
    color: rgb(241, 51, 51);
    border: 1px solid rgb(218, 56, 56);
    font-size: 14px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid brown;
    background: brown;
    transition: 0.5s;
    color: white;
}

/* ============Section-1-COMPLETE=========== */


.contact{
    width: 80%;
    margin: auto;
}

.contactcol{
    flex-basis: 50%;
    margin-bottom: 30px;
}

.contactcol div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.contactcol div .icon{
    font-size: 28px;
    color: black;
    margin: 10px;
    margin-right: 30px;
}

.contactcol div p{
    padding: 0;
}

.contactcol div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: aqua;
    font-weight: 400;
    
}

.row{
    display: flex;
    margin-top: 100px;
}

.contactcol input{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid gainsboro;
}

.contactcol textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid gainsboro;
}







/* ============Secton-6========================= */

.sec6{
    margin: 100px auto;
    width: 80%;
    background: linear-gradient(rgba(0, 0, 0, 0.38),rgba(0, 0, 0, 0.414)),url(Contact\ Us.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.sec6 h1{
    color: rgb(33, 203, 222);
    margin-bottom: 40px;
    padding: 0;
}


/* ===============Footer=========== */

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-color: rgba(0, 0, 0, 0.571);
}

.footer h4{
    margin-top: 20px;
    font-weight: 600;
}

.paraf{
    padding: 40px;
}























/* ==========media========================= */

@media only screen and (max-width:700px) {
    nav img{
        width: 100px;
    }
    .text-box h1{
        font-size: 20px;
    }
    .text-box p{
        font-size: 14px;
    }

    .navlinks ul li{
        display: none;
    }

    /* =============section-2======== */

    .sec2main{
        flex-direction: column;
    }

    /* ================section-3========== */

    .sec3main{
        flex-direction: column;
    }
    .sec3-1{
        width: 100%;
        height: 300px;
    }

    /* =================Section-4============ */

    .row{
        flex-direction: column;
    }

}